@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: "poppins";
    margin-left: 0;
    margin-right: 0;
  }

/*--sidebar*/
.logo ul{
    list-style: none;
}
.logo ul img{
    margin-right: 30px;
    border: 2px;
}

.logo ul li {
    font-size: 30px;
    font-weight: 600;
}

.items ul{

    list-style: none;
}

.items li{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
}
.items li i{
    margin-right:30px;
    margin-left: 18px;
}

.items li button img{
    margin-right: 30px;
}

/* .items li a {

    text-decoration: none;
    color: inherit;

} */
.items li:hover{
  color: #acf5c8;
}

.items button{
    font-size: 18px;
    font-weight: 500;
    width: 252px;
    height: 64px;
    padding-right: 70px;
    background-color:#5D5FEF;
    border-radius: 16px;
    color: white;
    border: none;
    
}

.items button:hover{
  background-color:#acf5c8;
}


.banner{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 259px;
  width: 238px;
  margin-left: 30px;
  margin-top: 80px;
  border-radius: 20px;
  background-image: url("/Task_4_Shubham_Bankar/assets/images/banner_bg.svg");
}

.banner_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
  width: 145px;
  row-gap: 10px;
}

.banner_content button{
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px; 
  background-color: white;
  width: 136px;
  height: 40px;
  border: none;
  color: #5D5FEF;

}

.banner_content button:hover{
  background-color: #acf5c8;
}

.sidenav {
    height: 100%;
    width: 345px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  


/*header*/
  #header {
    transition: margin-left .5s;
    /* padding: 16px; */
    background-color: grey;
  }

.right_nav form{
  height: 60px;
  position: relative;
}

.form-control {
  padding-left: 60px; 
  background-image: url('/Task_4_Shubham_Bankar/assets/images/search.svg'); /* Specify the path to your icon */
  background-size: 32px; 
  background-position: 20px center;
  background-repeat: no-repeat;
}

.notification i:hover{
  color: #acf5c8;
}
.dropdown button:hover{
  background-color: #acf5c8;
}

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .role{
    font-size: 14px;
    font-weight: 400;
  }
/*--main container*/

.main{
  background-color: #c8c8c8;
}

.r1c1{
  min-height: 348px;
  background-color: #F8F9FA;
  border-radius: 20px;

}

.r1content{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
}

.r1c2{
  min-height: 348px;
  background-color: #F8F9FA;
  border-radius: 20px;
}


.r2c1{
  min-height: 348px;
  
  background-color: #F8F9FA;
  border-radius: 20px;
}

.r2c2{
  min-height: 348px;
  background-color: #F8F9FA;
  border-radius: 20px;
}

.r3c1{
  min-height: 348px;
  background-color: #F8F9FA;
  border-radius: 20px;
}

.r3c2{
  min-height: 348px;
  background-color: #F8F9FA;
  border-radius: 20px;
}

.r3c3{
  min-height: 348px;
  background-color: #F8F9FA;
  border-radius: 20px;
}

/* inside row 1 */

.export button{
  height: 40px;
  width: 100px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
}
.export button i{
  margin-right: 10px;
}
.export button:hover{
  background-color: #acf5c8;
}

/* inside boxes */

.b1{
  height: 184px;
  background-color: #FFE2E5;
  border-radius: 16px;
}
.b1 img{
  margin-bottom: 12px;
}

.b2{
  height: 184px;
  background-color:  #FFF4DE;
  border-radius: 16px;
}
.b2 img{
  margin-bottom: 12px;
}

.b3{
  height: 184px;
  background-color: #DCFCE7;
  border-radius: 16px;
}

.b3 img{
  margin-bottom: 12px;
}
.b4{
  height: 184px;
  background-color: #F3E8FF;
  border-radius: 16px;
}

.b4 img{
  margin-bottom: 12px;
}


/* row 1  column 2*/

.r1c2_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.accordion-item{
  margin-bottom: 10px;
}
.accordion-button{
  background-color: #5D5FEF!important;
  color:white;
}



/* row 2  col 1*/

.r2c1_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table{
  align-items: center;
  text-align: center;
}
.table tbody tr td i{
  margin-left: 10px;
  margin-right: 10px;
}

.r2c1_content p a{
  text-decoration: none;
}

/* row 2 col 2 */

.r2c2_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.t_row{
  height:61px;
}



/* row3 3 col 1 */

.r3c1_content{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.product_details{
  display: flex;
  flex-direction: row;
 
}


.product_info{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

/* row3 col2 */

.r3c2_content{
  justify-content: center;
  align-items: center;
  text-align: start;
  text-align: start;
}



.r3c2_map{

  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.r3c2_map img{
  height: 229px;
  width:380px ;

}

/* row 3 col 3 */

.r3c3_content{
  justify-content: center;
  align-items: center;
  text-align: start;
  text-align: start;
}



.r3c3_graph{
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: center;
}

.r3c3_graph img{

  max-width: 90%;
}