@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: "poppins";
    margin-left: 0;
    margin-right: 0;
  }

/*--sidebar*/
.logo ul{
    list-style: none;
    margin-left: 10px;
}


.logo ul a:hover{
  color: #acf5c8;
}


.logo ul img{
    margin-right: 30px;
    border: 2px;
}


.logo ul li {
    font-size: 30px;
    font-weight: 600;
}

.items ul{
    list-style: none;
    margin-left: 10px;
}

.items li{
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;

}

.items ul li:hover{
  color: #acf5c8;
}

.items li a i{
    margin-right:30px;
    margin-left: 10px;
}

.items li button img{
    margin-right: 30px;
    font-size: 18px;
    font-weight:600 ;
}

.anchor {
  text-decoration: none; 
  color: inherit; 
}

.anchor:hover {
  text-decoration: none; 
  color: inherit; 
}



.items ul li a button{
    font-size: 18px;
    font-weight: 500;
    width: 252px;
    height: 64px;
    padding-right: 70px;
    background-color:#5D5FEF;
    border-radius: 16px;
    color: white;
    border: none;
    
}

.items ul li button:hover{
  background-color: #acf5c8;
}



.banner{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 259px;
  width: 238px;
  margin-left: 30px;
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-image: url("/Task_4_Shubham_Bankar/assets/images/banner_bg.svg");
}

.banner_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
  width: 145px;
  row-gap: 10px;
}

.banner_content button{
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px; 
  background-color: white;
  width: 136px;
  height: 40px;
  border: none;
  color: #5D5FEF;

}

.banner_content button:hover{
  background-color: #acf5c8;
}

.sidenav {
    height: 100%;
    width: 345px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  


  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
    text-decoration: none;
}

  


/*header*/
#header {
    transition: margin-left .5s;
    background-color: white;
}


.right_nav form{
  height: 60px;
  position: relative;
}

.form-control {
  padding-left: 60px; 
  background-image: url('../../assets/images/search.svg');
  background-size: 32px; 
  background-position: 20px center;
  background-repeat: no-repeat;
}


.notification i:hover{
  color: #acf5c8;
}

.dropdown .btn-primary{
  background-color: #F8F9FA;
  color: black;
  border:none
}
.whole_profile{
  display: flex;
  flex-direction: row;
}

.drop_items{
  background-color: inherit;
}

.profile_pic img{
  width: 50px;
  height: 60px;
}

.profile_name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
}

.notify-btn {
  border-radius: 10px;
  border: none;
  width:40px;
  align-items: center;
  text-align: center;
  height: 50px;
  background-color: #FFFAF1!important;
}
@media screen and (max-width: 425px) {
  .dropdown {
    display: none !important; 
  }

  .dropdown .btn-primary .whole_profile {
    justify-content: center; 
  }

  .dropdown .btn-primary .whole_profile .profile_name,
  .dropdown .btn-primary .whole_profile .drop_icon {
    display: none;
  }
}




  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*--main container*/

.main{
  background-color: #c8c8c8;
}

.r1c1{
  min-height: 348px;
  height: 100%;
  background-color: #F8F9FA;
  border-radius: 20px;

}



.r1c2{
  min-height: 348px;
  height: 100%;
  background-color: #F8F9FA;
  border-radius: 20px;
}


.r2c1{
  min-height: 348px;
  height: 100%;
  background-color: #F8F9FA;
  border-radius: 20px;
}

.r2c2{
  min-height: 348px;
  height: 100%;
  background-color: #F8F9FA;
  border-radius: 20px;
}

.r3c1{
  min-height: 348px;
  height: 100%;
  background-color: #F8F9FA;
  border-radius: 20px;
}

.r3c2{
  min-height: 348px;
  height: 100%;
  background-color: #F8F9FA;
  border-radius: 20px;
}

.r3c3{
  min-height: 348px;
  height: 100%;
  background-color: #F8F9FA;
  border-radius: 20px;
}

/* inside row 1 */


.r1content{
  display: flex;
  justify-content: space-between;
}
.export button{
  height: 40px;
  width: 100px;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
}
.export button i{
  margin-right: 10px;
}
.export button:hover{
  background-color: #acf5c8;
}

/* inside boxes */

.b1{
  min-height: 184px;
  background-color: #FFE2E5;
  border-radius: 16px;

}
.b1 img{
  margin-bottom: 12px;
}

.b2{
  min-height: 184px;
  background-color:  #FFF4DE;
  border-radius: 16px;
}
.b2 img{
  margin-bottom: 12px;
}

.b3{
  min-height: 184px;
  background-color: #DCFCE7;
  border-radius: 16px;
}

.b3 img{
  margin-bottom: 12px;
}
.b4{
  min-height: 184px;
  background-color: #F3E8FF;
  border-radius: 16px;
}

.b4 img{
  margin-bottom: 12px;
}


/* row 1  column 2*/

.r1c2_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.accordion-item{
  margin-bottom: 10px;
}
.accordion-button{
  background-color: #5D5FEF!important;
  color: white !important;
}




/* row 2  col 1*/

.r2c1_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table1{
  align-items: center;
  text-align: start;
}
.table1 tbody tr td i{
  margin-left: 10px;
  margin-right: 10px;
}

.r2c1_content p a{
  text-decoration: none;
}

/* row 2 col 2 */

.r2c2_content{
  display: flex;
  flex-direction: column;
  
}

.t_row{
    height: 65px;
}

.t_row td{
  padding-top: 20px;
}


/* row3 3 col 1 */
.r3c1_content {
  display: flex;
  flex-direction: column;
}

.product_details {
  display: flex;
  flex-direction: row;
}

.products .nav a {
  text-decoration: none;
  color: black;
}

.products .nav-tabs .nav-link.active {
  background-color: #5D5FEF !important;
  color: white !important;
}

.product_img {
  display: flex;
  justify-content: center;
}

.product_info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 16px;
  justify-content: center;
}

.product_info button {
  background-color: #5D5FEF;
}

.product_info a button:hover {
  text-decoration: none;
  background-color: #acf5c8;
}

/* row3 col2 */

.r3c2_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}



.r3c2_map{
  height: 100%;
  width: 100%;
  display: flex;
}

.r3c2_map img{
  margin-top: 5%;
  height: 100%;
  width: 100%;
  display: flex;
}

/* row 3 col 3 */

.r3c3_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}



.r3c3_graph{
  height: 100%;
  width: 100%;

  display: flex;

}

.r3c3_graph img{
  height: 100%;
  width: 100%;
  margin-top: 5%;
}