@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: inter;
}

.anchor{
    text-decoration: none;
    color: black!important;
}
.anchor:hover{
    text-decoration: none; 
    color: inherit;    
}

.navbar{
    background-color: #F5F7FA!important;
}

.main_nav{
    justify-content: space-between;
    align-items: center;
}

.nav_list{
    font-size:16px ;
    font-weight:500 ;
}

.b1{
    padding:10px;
    width: 91px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    border: none;
    color: green!important;
}
.b2{
    padding: 10px;
    width: 91px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;

    color: white!important;
}

.nav_list ul li{
    padding-left: 15px;
    padding-right: 15px;
}

.nav_list ul li a:hover{
    color:#acf5c8!important;
}

.login ul li{
    padding-right: 15px;
}

.items_padding{
    padding:10px;
}


.b1:hover{
    background-color: #acf5c8;
}

/* ----------layout ------------------------------------------*/


/* -----------container 1--------------- */

/* col 1 */

.c1{
    background-color: #F5F7FA!important;
}

.c1c1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 599px;
    row-gap: 10px;
}


.c1_button{
    margin-top: 15px;
    background-color: #4CAF4F!important;
    color: white;
    font-size:16px;
    font-weight:500;
    width:128px;
    height:52px;
    border: none;
    border-radius: 4px;
}

.c1_button:hover{
    background-color: #acf5c8!important;
}

/* col2 */
.c1c2_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 599px;
}

.pc_img{
    display: flex;
    justify-content: center;
}


.carousel-indicators button {
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%!important;
    background-color: #4CAF4F!important;
  }

  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
/* ----------container 2------------------------- */
.c2{
    background-color: white!important;
}

.c2r1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 100px;
    align-items: center;
    margin-top: 10px;
    
  
}

.swiper{
    height: 100px;
}


.c2r2_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 160px;
    align-items: center;
    text-align: center;
}

.swiper {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    
  }

  .swiper-slide {
   background-position:right;
   width: 10%!important;
   align-items: center;
   justify-content: center;
   margin: 10px 41px 10px 30px;
  }

  .swiper-slide img {
    display: block;
    height: 50px;
    width: 50px;
  }

  .swiper-wrapper{
    left:150px;
  }
/* ---------container 3------------------ */
.c3{
    background-color: white!important;
}

.c3r1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 120px;
    align-items: center;
    text-align: center;

}

.c3r2_content{
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 280px;
    align-items: center;
    box-shadow:5px 5px 5px 5px #888888;
    text-align: center;
    row-gap: 20px;
}

.c3r2_content:hover{
    background-color: #acf5c8;
}

/* --------------------container 5------------------- */

.c5{
    background-color: #F5F7FA!important;
}

.c5c1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 434px;
  
}

.c5c2_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 434px;
      row-gap: 10px;
}

.c5c2_btn{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #4CAF4F!important;
    color: white;
    font-size:16px;
    font-weight:500;
    width:151px;
    height:52px;
    border: none;
    border-radius: 4px;
}

.c5c2_btn:hover{
    background-color: #acf5c8!important;
}

/* ------------container 6---------------------- */

.c6{
    background-color: white!important;
}

.c6c1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 288px;


  
}

.counter{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.title{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.c6c2_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 288px;
  
}

.icons{
   display: flex;
   justify-content: end;
   align-items: center;
   margin-top: 5px;
   text-align: center;
}

/* --------------------container 7----------------- */

.c7{
    background-color: #F5F7FA!important;
}

.c7c1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 434px;
  
}

.c7c2_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 434px;
      row-gap: 10px;
}

.c7c2_btn{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #4CAF4F!important;
    color: white;
    font-size:16px;
    font-weight:500;
    width:151px;
    height:52px;
    border: none;
    border-radius: 4px;
}

.c7c2_btn:hover{
    background-color: #acf5c8!important;
}

/* -------------container 8--------------------- */
.c8{
    background-color: #e4edff!important;
}

.c8c1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 450px;
    text-align: center;
    align-items: center;
}

.c8c2_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 450px;
    row-gap: 10px;
    
}

.button_tesla{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.tesla-btn{
    color: #4CAF4F!important;
    font-size: 20px;
    font-weight: 400;
    width: 240px;
    height: 50px;
    align-items: center;
}

.tesla-btn:hover{
    background-color: #acf5c8!important;
}

.swiper2{
    height: 50px;
}

/* -------------------container 9------------------- */
.c9{
    background-color: white!important;
}

.c9r1_content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 124px;
    text-align: center;
    align-items: center;
}

.c9_img{
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    min-width: 368px;
    min-height: 366px;
    height: 100%;
}

.img_h{
    position: absolute;
    padding:20px;
    background-color: #F5F7FA;
    min-height: 176px;
    width: 317px;
    z-index:1000;
    top:180px;
    border-radius: 8px;
}
.c9_btn{
    color: #4CAF4F!important;
    font-size: 20px;
    font-weight: 00;
    width: 240px;
    height: 50px;
    align-items: center;
}
.c9_btn:hover{
    background-color: #acf5c8!important;
}

/* -----------------container 10--------------------- */

.c10{
    background-color:#F5F7FA!important;
}

.c10c1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 350px;
    text-align: center;
    align-items: center;
}

.c10_button{
    margin-top: 15px;
    background-color: #4CAF4F!important;
    color: white;
    font-size:16px;
    font-weight:500;
    width:178px;
    height:52px;
    border: none;
    border-radius: 4px;
}


.c10_button:hover{
    background-color: #acf5c8!important;
}
/* --------------footer container -------------*/

.cf{
    background-color:rgb(31, 29, 29);
    color: white;
}




.cfc2_content{
    min-height: 328px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.cfc2_content ul{

    list-style: none;
    padding:0;
    margin:0;
}
.cfc2_content li{
    font-size:14px;
    font-weight:400;
}


.cfc2_content li a:hover {
    color: #acf5c8!important;
}

.af{
    text-decoration: none;
    color: white;
}


.cfc3_content{
    min-height: 328px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.cfc3_content ul{

    list-style: none;
    padding:0;
    margin:0;
}

.cfc3_content li{
    font-size:14px;
    font-weight:400;
}

.cfc3_content li a:hover {
    color: #acf5c8!important;
}
/* col 4 */

.cfc4_content{
    min-height: 328px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 85px;
}

.cfc1_content{
    min-height: 328px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
}

.logo2{
    height:26px;
    width: 138px;
}

.icons{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-start;
}

.icons i:hover{
    color:#acf5c8;
}

.email_bar{
    border-radius: 8px;
    min-height: 40px;
    min-width: 255px;
    background-color: #888888;
    border: none;
    color: white;
    padding-right: 40px;
}
.email_bar:hover{
    background-color: #acf5c8;
}
.input-icons {
    position: relative;
}

.input-icons .icon {
    position: absolute;
    right: 10px; 
    top: 45%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
}

.input-field {
    background-color: #888888;
    width: 100%;
    padding: 10px;
}
