@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: inter;
}

.anchor{
    text-decoration: none;
    color: black!important;
}
.anchor:hover{
    text-decoration: none; 
    color: inherit;    
}

.main_nav{
    justify-content: space-between;
    align-items: center;
}

.nav_list{
    font-size:16px ;
    font-weight:500 ;
}

.b1{
    padding:10px;
    width: 91px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    color: green!important;
}
.b2{
    padding: 10px;
    width: 91px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;

    color: white!important;
}

.nav_list ul li{
    padding-left: 15px;
    padding-right: 15px;
}

.login ul li{
    padding-right: 15px;
}

.items_padding{
    padding:10px;
}

/* ----------layout ------------------------------------------*/


/* container 1 */

/* col 1 */

.c1{
    background-color: #F5F7FA!important;
}

.r1c1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 599px;
    row-gap: 10px;
}


.c1_button{
    margin-top: 15px;
    background-color: #4CAF4F!important;
    color: white;
    font-size:16px;
    font-weight:500;
    width:128px;
    height:52px;
    border: none;
    border-radius: 4px;
}

/* col2 */
.r1c2_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 599px;
}

.pc_img{
    display: flex;
    justify-content: end;
}



/* --------------footer container -------------*/

.cf{
    background-color:rgb(31, 29, 29);
    color: white;
}

.cfc1_content{
    min-height: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.cfc2_content{
    min-height: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cfc2_content ul{

    list-style: none;
    padding:0;
    margin:0;
}

.af{
    text-decoration: none;
    color: white;
}


.cfc3_content{
    min-height: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cfc3_content ul{

    list-style: none;
    padding:0;
    margin:0;
}

/* col 4 */

.cfc4_content{
    min-height: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}