body{
    background-color: rgb(199, 230, 244);
}

label{
    font-size:larger;
}

#submit_btn{
    max-width: 200px;
}

.edu_heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.main_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}