@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body{
    font-family: inter;
}

.navigation{
    font-size: 25px;
    font-weight: 500;
}
.sidebar {
    height: 747px;
    background: #FFCCCC;
    font-size: 40px;
}

.section1{
    height: 360px;
    background-color: #FFD4C7;
    font-size: 40px;
}
.section2{
    height: 370px;
    background-color: #BAB9E2;
    font-size: 40px;
}

.section3{
    height: 354px;
    background-color: #D7BDBD;
    font-size: 40px;
}
.section4{
    height: 354px;
    background-color: #E1FFC3;
    font-size: 40px;
}

.section5{
    height: 354px;
    background-color: #77DFF5;
    font-size: 40px;
}
.section6{
    height: 354px;
    background-color: #D7D4BD;
    font-size: 40px;
}
.footer{
    background-color: black;
    height: 129px;
    font-size: 32px;
}
